body {
    color: black;
    padding-top: 50px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
  }

  #navbar{
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
  }

  .navbar-inverse{
    background-color: #1976D2;
    border: none;
    text-align: left;
}
/* .table{
  background: #212529 !important;
   color: white !important;
 } */

#logout{
  float: right;
}

.table-striped, .table-dark{
  width: 60%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  border: solid 1px #e3e3e3;
}

.container{
  text-align: right; 
}

#betLogo{
  font-weight: bold;
  color:#BF360C;
  margin-right: 100px;
  text-align: left;
  font-size: 45px;
  font-family: 'Acme', sans-serif;
  padding-left: 7px;
}

#goLogo{
  font-weight: bold;
  color: white; 
  text-align: right;
  font-size: 45px;
  font-family: 'Acme', sans-serif;
  padding-right: 7px;    
}

.goBetDiv{
  margin-right: 100px;
}

.rightBoard{
  float: right;
  width: 15%;
  position: relative;
  top: 50px;
  bottom: 0;
  background-color: #E1F5FE;
}

.leftBoard{
  float: left;
  width: 80%;
}

#logout{
  float: right;
}
  
  /*
   * Global add-ons
   */
  
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }
  
  radio{
    font-size: 24px;
    font-weight: 500;
  }
  /*
   * Sidebar
   */
  
  /* Hide for mobile, show later */
  
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }

  
  

  #terminarz{
    margin-top: 0;
    width: 40%;
    text-align: center;
  }

#terminarz th{
    text-align: center;
  }


#kupon{
  margin-top: 0;
  width: 75%;
  text-align: center;
}

#kupon th{
  text-align: center;
}

#kuponLeft{
  float:left;
  width: 75%;
}

#kuponRight{
  text-align: center;
  float: right;
  width: 25%;
  min-height: 100vh;
  position: sticky  ;
  background-color: #E3F2FD;
}

#content{
  width:100%;
}