{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}
{% include '_messages.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cf5fff4621.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
 
  <nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class = 'goBetDiv'>
          <a class="navbar-brand" id = "goLogo">Go</a>
          <a class="navbar-brand" id = "betLogo">Bet</a>
        </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class = "active"><a class="nav-link" href="#">Nadchodząca kolejka</a></li>
          <li><a class="nav-link" href="/kupon">Stwórz kupon</a></li>
          <li><a class="nav-link" href="/wyniki">Wyniki meczy</a></li>
          <li><a class="nav-link " href="/symuluj_kolejke">Symuluj kolejkę</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tabela
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/premier_league">Premier League</a> <br>
              <a class="dropdown-item" href="/la_liga">La Liga</a> <br>
              <a class="dropdown-item" href="/serie_a">Serie A</a>
            </div>
          </li>
            <li><a id = "logout" href="{{ url_for('logout') }}">Wyloguj się</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav> 


  <div id = "kuponLeft">
    <h2 style = "margin:auto; text-align: center; margin-top: 50px;"> Nadchodzące mecze {{nastepna_kolejka}} kolejki:</h2>
  <br> <br>
  <header style="text-align: center; margin:auto; font-size: large; font-weight: bold;">Premier league</header>
  <table class = "table table-striped" id = "terminarz">
    <tr>
      <th style ="width: 50%">Gospodarze</th>
      <th style ="width: 50%">Goście</th>
    </tr>
    {% for i in premier_league %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
        </tr>
    {% endfor %}
  </table>
  <header style="text-align: center; margin:auto; font-size: large; font-weight: bold;">La liga</header>
  <table class = "table table-striped" id = "terminarz">
    <tr>
      <th style ="width: 50%">Gospodarze</th>
      <th style ="width: 50%">Goście</th>
    </tr>
    {% for i in la_liga %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
        </tr>
    {% endfor %}
  </table>

  <header style="text-align: center; margin:auto; font-size: large; font-weight: bold;">Serie A</header>
  <table class = "table table-striped" id = "terminarz">
    <tr>
      <th style ="width: 50%">Gospodarze</th>
      <th style ="width: 50%">Goście</th>
    </tr>
    {% for i in serie_a %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
        </tr>
    {% endfor %}
  </table>
  </div>
  


  <div id = "kuponRight">
    <h3> <i class="fas fa-user"></i>  {{session.username}} </h3>
    <h3>Punkty: {{liczba_pkt}}</h3>
    <br>
    <h3>RANKING UŻYTKOWNIKÓW</h3>
    <table class="table table-striped" style="margin-top: 0;">
      <tr>
        <th>Użytkownik</th>
        <th>Punkty</th>
      </tr> 
      {% for i in ranking%}
        <tr>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
  
  
{% endblock %}